.config {
  margin-bottom: 30px;
}

.container {
  height: auto;
  margin: 0 auto;
  margin: 0 auto;
  max-width: 768px;
  min-height: 65vh;
  padding: var(--spacing-l);
}

.headerMenu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.tabWithIcon {
  align-items: center;
  display: flex;
}

.tabWithIcon svg {
  margin-left: var(--spacing-xs);
}

.tabContainer {
  padding-top: var(--spacing-l);
}

.section {
  border-top: 1px solid var(--color-element-light);
  padding-top: var(--spacing-l);
}

.spacePurposeTitle {
  margin-top: var(--spacing-2xl);
}

.spacePurposeGrid {
  display: grid;
  grid-gap: var(--spacing-m);
  grid-template-columns: 1fr 1fr;
}

.spacePurposeGridItem {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.spacePurposeGridItem h2 {
  margin-bottom: var(--spacing-m);
}

.spacePurposeGridItemIcon {
  width: 128px;
}

.spacePurposeCard {
  align-items: center;
  display: flex;
  min-height: 40px;
}

.spacePurposeCard:hover,
.spacePurposeCard:focus {
  box-shadow: var(--box-shadow-default);
}

.spacePurposeCardSelected {
  background-color: var(--color-blue-dark);
  color: #fff;
}

.spacePurposeCardSelected p {
  color: #fff;
}

.spacePurposeItem {
  align-items: center;
  display: flex;
}

.spacePurposeIcon {
  align-items: center;
  border: 2px solid var(--color-element-mid);
  display: flex;
  flex-shrink: 0;
  height: 18px;
  justify-content: center;
  margin-right: var(--spacing-s);
  width: 18px;
}

.spacePurposeIconSelected {
  background-color: var(--color-blue-lightest);
  border-color: var(--color-blue-light);
}

.goToGuidelineMatching {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-m);
}

.branding {
  margin-bottom: 60px;
  margin-top: 60px;
}

.brandingLogo {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
