.container {
  border-top: 1px solid var(--color-element-light);
  padding-top: var(--spacing-l);
}

.heading {
  align-items: center;
  display: flex;
}

.headingIcon {
  display: block;
  margin-left: var(--spacing-xs);
}
